<app-header></app-header>
<div class="form-container">
  <mat-form-field appearance="fill">
    <mat-label>Correo Electrónico</mat-label>
    <input matInput [formControl]="correo" required>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Contraseña nueva</mat-label>
    <input matInput [formControl]="password" type="password" required>
  </mat-form-field>

  <mat-form-field appearance="fill">
      <mat-label>Repetir contraseña</mat-label>
      <input matInput [formControl]="repetirpassword" type="password" required>
  </mat-form-field>

  <div class="button-container">
      <button mat-raised-button color="primary" (click)="cambiopassword()" [disabled]="loading">Cambiar contraseña</button>
      <button mat-raised-button color="accent" routerLink="/registro">Registrarse</button>
      <button mat-raised-button color="accent" routerLink="/login">Login de usuario</button>
  </div>
</div>
