<header class="header">
    <nav class="nav">
        <div class="nav-left">
            <a routerLink="/inicio" routerLinkActive="active"><img src="assets/img/mando.png" alt="Inicio" width="20" height="20"></a>
        </div>
        <div class="nav-center">
            <a routerLink="/registro" routerLinkActive="active">Registro</a>
            <a routerLink="/videojuegos" routerLinkActive="active">Videojuegos</a>
        </div>
        <div class="nav-right">
            <a routerLink="/carrito" routerLinkActive="active"><img src="assets/img/carrito-de-compras.png" alt="carrito" width="20" height="20"></a>
            <a routerLink="/login" routerLinkActive="active"><img src="assets/img/perfil-del-usuario.png" alt="login" width="20" height="20"></a>
        </div>
    </nav>
</header>
