<app-header></app-header>

<div class="container">
    <img class="background-image" src="https://img.freepik.com/vector-gratis/photocall-juegos-neon-dibujado-mano_23-2149860761.jpg?size=626&ext=jpg&ga=GA1.1.1687694167.1715040000&semt=sph" alt="Background Image">
    <div class="content">
        <!-- Aquí va tu contenido -->
    </div>
</div>
<div class="inicio-container">
    <h2>Bienvenido a nuestra tienda de videojuegos</h2>
    <p>Explora nuestra amplia colección de videojuegos y encuentra tus favoritos.</p>
    <p>Regístrate ahora para disfrutar de beneficios exclusivos, como acceso anticipado a nuevos lanzamientos, descuentos especiales y más.</p>
    <button class="btn btn-primary" routerLink="/registro">Registrarse</button>
    <p>¿Ya tienes una cuenta? <a routerLink="/login">Inicia sesión aquí</a>.</p>
</div>
<div class="featured-games">
    <h3>Juegos Destacados</h3>
    <div class="game">
        <img src="assets/img/bloodbrone.jpg" alt="Game Image">
        <h4>bloodborne</h4>
        <p>Soulslike con estilo lovecraft</p>
    </div>
    <div class="game">
        <img src="assets/img/zelda.jpg" alt="Game Image">
        <h4>Zelda</h4>
        <p>Nuevo juego de aventuaras de la gran saga de Zelda</p>
    </div>
    <div class="game">
        <img src="assets/img/descarga.jpg" alt="Game Image">
        <h4>Devil May Cry V</h4>
        <p>Hack and Slash frenetico con toques de terror</p>
    </div>
</div>
