<header class="header">
  <nav class="headernav">
    <a routerLink="/adminvideojuego" routerLinkActive="active">Administracion de videojuego</a>
    <a routerLink="/admin" routerLinkActive="active">Administracion Usuarios</a>
  </nav>
</header>



<div class="main-container">
  <h2 class="titulo">Administracion de videojuegos</h2>
  <div class="form-container">
    <!-- Formulario para agregar un nuevo videojuego -->
    <form (submit)="agregarVideojuego()" enctype="multipart/form-data">
      <div class="input-container">
        <mat-form-field appearance="fill">
          <mat-label>Título</mat-label>
          <input matInput [formControl]="titulo" required>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Descripción</mat-label>
          <textarea matInput [formControl]="descripcion" required></textarea>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Precio</mat-label>
          <input matInput [formControl]="precio" type="number" required>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Género</mat-label>
          <input matInput [formControl]="genero" required>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Plataforma</mat-label>
          <input matInput [formControl]="plataforma" required>
        </mat-form-field>
      </div>
      <div class="button-container">
        <button mat-raised-button color="accent" type="submit" [disabled]="loading">
          <span *ngIf="!loading">Agregar</span>
          <mat-spinner *ngIf="loading" diameter="20"></mat-spinner> <!-- Mostrar spinner cuando se está cargando -->
        </button>
      </div>
      <!-- Error message for adding videojuego -->
      <div *ngIf="!loading && errorMessage" class="error-message">
        {{ errorMessage }}
      </div>
      <div *ngIf="!loading && missingImageError" class="error-message">
        Por favor, seleccione una imagen.
      </div>
      <div *ngIf="!loading && missingDataError" class="error-message">
        Por favor, complete todos los campos del formulario.
      </div>
      <!-- Success message for adding videojuego -->
      <div *ngIf="!loading && successMessage" class="success-message">
        {{ successMessage }}
      </div>
    </form>
  </div>
  <div class="form-container second-form-container">
    <!-- Formulario para subir la imagen por separado -->
    <form enctype="multipart/form-data">
      <div class="input-container">
        <input type="file" (change)="onFileSelected($event)" accept="image/*" required>
      </div>
      <div class="button-container">
        <button mat-raised-button color="accent" type="button" (click)="agregarImagen()" [disabled]="loading">
          <span *ngIf="!loading">Subir Imagen</span>
          <mat-spinner *ngIf="loading" diameter="20"></mat-spinner> <!-- Mostrar spinner cuando se está cargando -->
        </button>
      </div>
      <!-- Error message for adding imagen -->
      <div *ngIf="!loading && errorImagen" class="error-message">
        {{ errorImagen }}
      </div>
      <!-- Success message for adding imagen -->
      <div *ngIf="!loading && successImagen" class="success-message">
        {{ successImagen }}
      </div>
    </form>
  </div>
  <div class="button-container-admin">
    <button routerLink="/admin" routerLinkActive="active">Administrar Usuarios</button>
  </div>
</div>
